.default-info-form {
  display: flex;
  flex-direction: column;
  width: 1000px;

  &__header {
    & > span {
      font-size: 1.3rem;
      font-weight: 700;
    }
  }

  &__body {
    display: flex;
    flex: 1;
  }
}
