.challenge-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 310px;
  height: 310px;
  border-radius: 40px;
  background-color: black;
  border: 2px solid rgb(153, 153, 153);

  & > span {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > span {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 5px;
      color: white;
    }
  }
}
