.mentee-info {
  background-color: $whitegrey;

  &__resume {
    display: flex;
    align-items: center;
  }

  &__basic-info {
    display: flex;
    flex: 1;
  }

  &__point {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-top: 20px;
    box-sizing: border-box;
  }

  &__left {
    width: 150px;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 160px;
      margin-top: 80px;

      & > span {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
  }

  &__picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: grey;
  }

  &__point-content {
    display: flex;
    flex-direction: column;

    & > span {
      font-weight: 600;
      line-height: 40px;
    }

    &-upper {
      display: flex;

      & > span {
        font-size: 0.9rem;
        font-weight: 800;
        color: rgb(206, 209, 214);
        margin-right: 7px;
      }

      & > span:first-child {
        font-weight: 800;
        color: $cobalt;
      }
    }

    &-lower {
      & > span {
        font-size: 0.9rem;
        font-weight: 800;
        color: rgb(206, 209, 214);
      }
    }
  }
}
