.challenge {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  background-color: rgb(247, 248, 250);

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1470px;
    height: 100px;
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-gap: 40px;
    overflow-y: auto;

    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 360px;

    & > span:first-child {
      font-size: 1.5rem;
      font-weight: 600;
    }

    & > span {
      font-size: 0.8rem;
    }
  }
}
