.common-input {
  height: 40px;
  border: none;
  border: 1px solid rgb(238, 240, 243);
  border-radius: 10px;
  text-indent: 15px;

  &::placeholder {
    color: rgb(194, 197, 202);
  }
}

.common-background {
  display: flex;
  flex: 1;
  justify-content: center;
}

.common-form {
  border-radius: 14px;
  box-sizing: border-box;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.invisible-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
