.btn-goto-teamlist {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(135deg, #537bec, #7630ed);
}
