.btn-goto-teamlist {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 180px;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  background-image: linear-gradient(135deg, #537bec, #7630ed);
}
