.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  padding-right: 10%;
  padding-left: 20%;

  &--background-white {
    background-color: white;
  }

  &--background-black {
    background-color: black;
  }

  &--font-white {
    color: white;
  }

  &--font-black {
    color: black;
  }

  &__title {
    font-size: 1.2rem;
  }

  &__options {
    display: flex;
    justify-content: space-between;
    width: 370px;

    & > span {
      font-size: 0.9rem;
      cursor: pointer;
    }
  }
}
