.header {
  display: flex;
  justify-content: center;
  min-height: 55px;

  &--background-white {
    background-color: $white;
  }

  &--background-black {
    background-color: $black;
  }

  &--font-white {
    color: $white;
  }

  &--font-black {
    color: $black;
  }

  &--image-black {
    filter: opacity(0.5) drop-shadow(0 0 0 black);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1600px;
  }

  &__starting {
    margin-left: 200px;

    img {
      width: 102px;
      height: 24px;
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    width: 280px;

    & > span {
      font-size: 0.9rem;
      cursor: pointer;
    }
  }
}
