.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  padding-right: 10%;
  padding-left: 20%;
  background-color: white;

  &__title {
    font-size: 1.2rem;
  }

  &__options {
    display: flex;
    justify-content: space-between;
    width: 370px;
  }

  &__option-text {
    font-size: 0.9rem;
    cursor: pointer;

    &--login {
      text-decoration: none;
      color: inherit;
    }
  }
}
